body {
   background-color: #f8f8f8; 
}

.slides {
    padding: 10px;
    border-right: 1px solid #c8c8c8
}

.slide-thumb-content {
    height: 100%;
    width: 100%;
    margin-top: -20px;
}

.menu-input {
    width: 80px;
}

.slide {
    margin: 10px;
    border: 2px solid #c8c8c8;
    border-radius: 5px;
    height: 50px;
    cursor: pointer;
    position: relative;
    z-index: 0;
}

.slide-thumbnail {
    font-size: 10px !important;
    min-height: 50px;
    min-width: 100%;
    max-width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    z-index: -1;
    overflow: hidden;
    word-wrap: break-word;
}

.slide:hover, .slide-selected {
    border-color: #ffa9a9;
}

.slide-content {
     position: fixed;
     top: 60px;
     height: 100%;
     width: 100%;
     padding: 10px;
 }
 
.slide-options {
    padding: 10px;
    opacity: 0.3;
    transition: opacity 1s;
    z-index: 999;
}

.slide-options:hover {
    opacity: 0.8;
}

.presentation-menu {
    position: fixed;
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #c8c8c8;
    padding: 15px;
    z-index: 999;
}

.btn-transcript {
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.modal-transkrypt {
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.font-times-new-roman {
    font-family: "Times New Roman", Times, serif;
}

.font-arial {
    font-family: Arial, Helvetica, sans-serif;
}

.font-comic-sans {
    font-family: "Comic Sans MS", cursive, sans-serif;
}

/* scale to screen resolution */
@media (min-width: 500px) {
  .slide { height: 70px; }
  .slide-thumbnail { min-height: 66px; }
}

@media (min-width: 768px) {
  .slide { height: 100px; }
  .slide-thumbnail { min-height: 96px; }
}

@media (min-width: 992px) {
  .slide { height: 150px; }
  .slide-thumbnail { min-height: 146px; }
}

@media (min-width: 1200px) {
  .slide { height: 200px; }
  .slide-thumbnail { min-height: 196px; }
}






.step {
    position: relative;
    width: 900px;
    padding: 40px;
    margin: 20px auto;
    overflow: hidden;
    word-break: break-all;
    
    -webkit-box-sizing: border-box;
    -moz-box-sizing:    border-box;
    -ms-box-sizing:     border-box;
    -o-box-sizing:      border-box;
    box-sizing:         border-box;

    font-size: 48px;
    line-height: 1.5;
}

/*
    ... and we enhance the styles for impress.js.

    Basically we remove the margin and make inactive steps a little bit transparent.
*/
.impress-enabled .step {
    margin: 0;
    opacity: 0.3;

    -webkit-transition: opacity 1s;
    -moz-transition:    opacity 1s;
    -ms-transition:     opacity 1s;
    -o-transition:      opacity 1s;
    transition:         opacity 1s;
}

.impress-enabled .step.active { opacity: 1 }

.positioning {
    -webkit-transform: translateY(-10px);
    -moz-transform:    translateY(-10px);
    -ms-transform:     translateY(-10px);
    -o-transform:      translateY(-10px);
    transform:         translateY(-10px);
}

.rotating {
    -webkit-transform: rotate(-10deg);
    -moz-transform:    rotate(-10deg);
    -ms-transform:     rotate(-10deg);
    -o-transform:      rotate(-10deg);
    transform:         rotate(-10deg);

    -webkit-transition-delay: 0.25s;
    -moz-transition-delay:    0.25s;
    -ms-transition-delay:     0.25s;
    -o-transition-delay:      0.25s;
    transition-delay:         0.25s;
}

.scaling {
    -webkit-transform: scale(0.7);
    -moz-transform:    scale(0.7);
    -ms-transform:     scale(0.7);
    -o-transform:      scale(0.7);
    transform:         scale(0.7);

    -webkit-transition-delay: 0.5s;
    -moz-transition-delay:    0.5s;
    -ms-transition-delay:     0.5s;
    -o-transition-delay:      0.5s;
    transition-delay:         0.5s;
}

.imagination {
    font-size: 78px;
}

.slide_prez {
    display: block;

    width: 900px;
    height: 700px;
    padding: 40px 60px;

    background-color: white;
    border: 1px solid rgba(0, 0, 0, .3);
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .1);

    color: rgb(102, 102, 102);
    text-shadow: 0 2px 2px rgba(0, 0, 0, .1);

    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: -1px;
}

.slide_prez q {
    display: block;
    font-size: 50px;
    line-height: 72px;

    margin-top: 100px;
}

.slide_prez q strong {
    white-space: nowrap;
}