<div class="row container">
    <div class="col-xs-3 slides">
        <slide-thumb slide="slide" ng-repeat="slide in slides"></slide-thumb>
    </div>
    <div class="col-xs-9">
        <div class="row">
            <presentation-menu></presentation-menu>
        </div>
        <div class="row slide-content"  ng-style="{'background-color': selectedSlide.Background}">
            <textarea rows="30" cols="100" slide-content="" ng-model="selectedSlide.Content" ng-if="editSlideMode"></textarea>
            <div ng-bind-html="renderSlideHtml(selectedSlide)" ng-if="viewSlideMode"></div>
        </div>
    </div>