<div class="row container">
    <div class="col-xs-3 slides">
        <slide-thumb slide="slide" ng-repeat="slide in slides"></slide-thumb>
    </div>
    <div class="col-xs-9">
        <div class="row">
            <presentation-menu></presentation-menu>
        </div>
        <div class="row slide-content">
            <textarea rows="30" cols="100">{{selectedSlide}}</textarea>
        </div>
        <script>
            $(function() {
                $('#cp2').colorpicker();
            });
        </script>
    </div>