<div class="presentation-menu">
    <ul class="list-inline">
        <li class="btn-group pull-left" role="group">
            <button type="button" class="btn btn-default btn-sm" ng-click="viewMode()" ng-disabled="viewSlideMode"><i class="fa fa-eye" style="color: green"></i></button>
            <button type="button" class="btn btn-default btn-sm" ng-click="editMode()" ng-disabled="editSlideMode"><i class="fa fa-pencil"></i></button>
        </li>
        <fieldset class="pull-left" ng-disabled="viewSlideMode"> 
        <li class="btn-group">
            <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">Czcionka <span class="caret"></span></button>
            <ul class="dropdown-menu">
                <li ng-repeat="fontMarker in markers['Fonts']"><a ng-click="addMark(fontMarker.tag)">{{fontMarker.name}}</a></li>
            </ul>
        </li>
        <li class="btn-group" role="group">
            <button type="button" class="btn btn-default btn-sm" ng-click="addMark(markers.Bold.tag)"><i class="fa fa-bold"></i></button>
            <button type="button" class="btn btn-default btn-sm" ng-click="addMark(markers.Italic.tag)"><i class="fa fa-italic"></i></button>
            <button type="button" class="btn btn-default btn-sm" ng-click="addMark(markers.Underline.tag)"><i class="fa fa-underline"></i></button>
            <button type="button" class="btn btn-default btn-sm" ng-click="addMark(markers.Strike.tag)"><i class="fa fa-strikethrough"></i></button>
        </li>
        <li class="btn-group" role="group">
            <button type="button" class="btn btn-default btn-sm" ng-click="addMark(markers.AlignLeft.tag)"><i class="fa fa-align-left"></i></button>
            <button type="button" class="btn btn-default btn-sm" ng-click="addMark(markers.AlignCenter.tag)"><i class="fa fa-align-center"></i></button>
            <button type="button" class="btn btn-default btn-sm" ng-click="addMark(markers.AlignRight.tag)"><i class="fa fa-align-right"></i></button>
            <button type="button" class="btn btn-default btn-sm" ng-click="addMark(markers.AlignJustify.tag)"><i class="fa fa-align-justify"></i></button>
        </li>
        <li class="btn-group" role="group">
            <button type="button" class="btn btn-default btn-sm"><i class="fa fa-picture-o"></i></button>
        </li>
        <li class="btn-group">
            <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">Styl <span class="caret"></span></button>
            <ul class="dropdown-menu">
                <li ng-repeat="styleMarker in markers['Styles']"><a ng-click="addMark(styleMarker.tag)">{{styleMarker.name}}</a></li>
            </ul>
        </li>
        <li class="btn-group">
            <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">Animacja <span class="caret"></span></button>
            <ul class="dropdown-menu">
                <li ng-repeat="styleMarker in markers['Animations']"><a ng-click="addMark(styleMarker.tag)">{{styleMarker.name}}</a></li>
            </ul>
        </li>
        <li class="btn-group">
            <button class="btn btn-default btn-sm" colorpicker type="button" colorpicker-position="bottom" ng-model="selectedSlide.Background" ng-style="{'background-color': selectedSlide.Background}">Kolor tła</button>
            <button type="button" class="btn btn-default btn-sm" ng-click="selectedSlide.Background = '#f8f8f8'"><i class="fa fa-eraser"></i></button>
        </li>
        </fieldset> 
    </ul>
</div>