<div class="presentation-menu">
    <ul class="list-inline">
        <li class="btn-group pull-left" role="group">
            <button type="button" class="btn btn-default btn-sm" ng-click="viewMode()" ng-disabled="viewSlideMode"><i class="fa fa-eye" style="color: green"></i></button>
            <button type="button" class="btn btn-default btn-sm" ng-click="editMode()" ng-disabled="editSlideMode"><i class="fa fa-pencil"></i></button>
        </li>
        <fieldset ng-disabled="viewSlideMode"> 
        <li class="btn-group pull-left">
            <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">Czcionka <span class="caret"></span></button>
            <ul class="dropdown-menu">
                <li ng-repeat="fontMarker in markers['Fonts']"><a ng-click="addMark(fontMarker.tag)">{{fontMarker.name}}</a></li>
            </ul>
        </li>
        <li class="btn-group pull-left" role="group">
            <button type="button" class="btn btn-default btn-sm" ng-click="addMark(markers.Bold.tag)"><i class="fa fa-bold"></i></button>
            <button type="button" class="btn btn-default btn-sm" ng-click="addMark(markers.Italic.tag)"><i class="fa fa-italic"></i></button>
            <button type="button" class="btn btn-default btn-sm" ng-click="addMark(markers.Underline.tag)"><i class="fa fa-underline"></i></button>
            <button type="button" class="btn btn-default btn-sm" ng-click="addMark(markers.Strike.tag)"><i class="fa fa-strikethrough"></i></button>
        </li>
        <li class="btn-group pull-left" role="group">
            <button type="button" class="btn btn-default btn-sm" ng-click="addMark(markers.AlignLeft.tag)"><i class="fa fa-align-left"></i></button>
            <button type="button" class="btn btn-default btn-sm" ng-click="addMark(markers.AlignCenter.tag)"><i class="fa fa-align-center"></i></button>
            <button type="button" class="btn btn-default btn-sm" ng-click="addMark(markers.AlignRight.tag)"><i class="fa fa-align-right"></i></button>
            <button type="button" class="btn btn-default btn-sm" ng-click="addMark(markers.AlignJustify.tag)"><i class="fa fa-align-justify"></i></button>
        </li>
        <li class="btn-group pull-left">
            <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">Styl <span class="caret"></span></button>
            <ul class="dropdown-menu">
                <li ng-repeat="styleMarker in markers['Style']"><a ng-click="addMark(styleMarker.tag)">{{styleMarker.name}}</a></li>
            </ul>
        </li>
        <li class="btn-group pull-left" role="group">
            <button type="button" class="btn btn-default btn-sm"><i class="fa fa-picture-o"></i></button>
        </li>
        <li class="btn-group pull-left">
            <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Animacja <span class="caret"></span>
                </button>
            <ul class="dropdown-menu">
                <li><a href="#">Animacja 1</a></li>
                <li><a href="#">Animacja 2</a></li>
                <li><a href="#">Animacja 3</a></li>
            </ul>
        </li>
        <li role="group" class="col-xs-1">
            <div class="input-group input-group-sm">
                <input type="text" class="form-control" placeholder="Rotacja">
                <span class="input-group-btn">
                            <button class="btn btn-default" type="button"><i class="fa fa-repeat"></i></button>
                        </span>
            </div>
        </li>
        <li role="group" class="col-xs-1">
            <div class="input-group input-group-sm">
                <input type="text" class="form-control" placeholder="Pozycja">
                <span class="input-group-btn">
                            <button class="btn btn-default" type="button"><i class="fa fa-sort"></i></button>
                        </span>
            </div>
        </li>
        <li class="btn-group col-xs-1">
            <div id="cp2" class="colorpicker-component">
                <input id="background" ng-model="lol">
                <span class="input-group-addon">Kolor tła <i></i></span>
            </div>
        </li>
        </fieldset> 
    </ul>
        <script>
            $(function() {
                console.log($('#cp2').colorpicker());
                console.log($('#cp2'));
            });
        </script>
</div>